html{
	font-family: 'Oswald', sans-serif,"Courier New", cursive;
}

body{
	background-image:url("bground-4.bmp");
	text-align:center;
	margin:0 auto;
	padding:0px;
}
h2
{
	margin-bottom: 0px;
}
h4{
	margin:0px;
}
img{
	padding-left:3px;
}

a:link { color: black; }
a:active { color:#009; }
a:visited { color: black; }
a:hover { color:#666; }

table
{
	display: block;
	width: 90%;
	margin-left: 5%;
	margin-right:5%;
	margin: 1em auto;
	border:1px solid black;
	padding:15px;
}

tr {
    display: block;
    width: 30%;
	height:25%;
    float: left;
    margin: 10px;
    padding: 0;
}

td {
    display: inline-block;
    width: auto%;
	padding:5px;
	font-size:0.75rem;
}

ul{
	list-style-type:none;
	text-align:center;
}
.unitRows{
	width: 90%;	
}
.subhead{
	font-family: Smokum;
	font-size:2.5rem;
	text-decoration:underline;
}

#container{
	width:65%;
	min-height:1000px;
	margin: 0 auto;
	background-color:#FFF;
}

#heading{
	font-family: 'Oswald', sans-serif,"Courier New", cursive;
	font-size:2.1rem;
	font-weight:100;
	background-color:#7A7474;
	border-bottom: 3px solid #A11818;
	color:#A11818;
	text-align:left;
	margin:0px;
	padding: 0px;
	padding-bottom: 0px;
}

#heading a{
	text-decoration:none;
}
#heading a:link { color:#000; }
#heading a:active { color:#000; }
#heading a:visited { color:#000; }
#heading a:hover { color:#A11818; }

#login
{
	font-size:0.9rem;
	font-weight:300;
	color:#FFF;
	background-color:#0B0303;
	text-align:right;
	margin:0px;
	padding: 0px;
}
#login a:link { color:#FFF; }
#login a:active { color:#FFF; }
#login a:visited { color:#FFF; }
#login a:hover { color:#A11818; }

#mainContent p{
	width:67%;
	padding: 10px;
	margin: 0 auto;
	text-align:justify;
	height:100%;
	font-family: "Courier New", Courier, monospace;
}

#error{
	font-size:.75em;
	color:#900;
	text-align:center;

}

#results{
	font-size:2.1rem;
	background-color:#FF695B;
	color:#000;
	text-align:center;
	margin:15px 5px;
	padding:20px;
}

.error {
color:red;
}

.buildingImages {
	width:150px;
	height:150px;
	text-decoration:none;	
}
table#building_units{
	display: block;
	width: 85%;
	margin-left: 5%;
	margin-right:5%;
	margin: 1em auto;
	background-color:#F0F0F0;
}

table#building_units td{
	font-size:1.55rem;
}

table#building_units tr{
	margin:20px;
	padding:10px;
	display: inline;
	border: 1px solid black;
}

.flash-message {
width:100%;
position:absolute;
top:0;
left:0;
background-color:#FF6600;
text-align:center;
padding:5px;
}

